<ion-content padding center text-center>
  <ion-img src="/assets/refugeehealth.png"></ion-img>
  <ion-title class="title">Sign Up</ion-title>
  <ion-item>
    <ion-input placeholder="Full Names" [(ngModel)]="fullname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Phone number" type="tel" [(ngModel)]="phone"></ion-input>
  </ion-item>

  <ion-button full round color="light" (click)="login()" href="/home">Log In</ion-button> 
  <ion-button full round (click)="goRegister()" href="/signup2">Next</ion-button>
</ion-content>
  