<ion-content padding center text-center>
  <ion-img src="/assets/refugeehealth.png"></ion-img>
  <ion-title class="title">Sign Up</ion-title>
  <ion-item>
    <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Confirm Password" type="password" [(ngModel)]="confimpassword"></ion-input>
  </ion-item>

  <ion-button full round color="light" href="/signup3">Back</ion-button> 
  <ion-button full round href="/signup5">Next</ion-button>
</ion-content>