<ion-content padding center text-center>
  <ion-img src="/assets/refugeehealth.png"></ion-img>
  <ion-title class="title">Sign Up</ion-title>
  <ion-item>
    <ion-input type="radio" name="occupation" value="doctor">Doctor <br>
  </ion-item>
  <ion-item>
    <ion-input type="radio" name="occupation" value="patient">Patient <br>
  </ion-item>
  <ion-item>
    <ion-input type="radio" name="occupation" value="patient">Health Practitioner <br>
  </ion-item>

  <ion-button full round color="light" (click)="login()" href="/signup3">Back</ion-button> 
  <ion-button full round (click)="goRegister()" href="/signup5">Next</ion-button>
</ion-content>