<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Maps
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63701.803817006825!2d34.81390288973205!3d3.7308651050898662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x179fb7d6a246c0ab%3A0x57774a3381fe577!2sKakuma!5e0!3m2!1sen!2ske!4v1554463293460!5m2!1sen!2ske" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</ion-content>
