<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-avatar class="avatar">
      <img src="/assets/avatar.jpg">
    </ion-avatar>

    <p><strong>Full Name:</strong> Jane Doe</p>
    <p><strong>Location:</strong> Kakuma 4</p>
    <p><strong>ID No:</strong> 12345678</p>
    <p><strong>Phone No:</strong> 0712345678</p>
    <p><strong>Age:</strong> 25</p>

    <ion-button full round href="/profile">View Reports</ion-button>
</ion-content>
