<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Hot Water Burn
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <img src="/assets/hotwaterburn.jpg">
    
    <ion-text>To treat a burn, follow the first aid advice below: immediately get the person away from the heat source to stop the burning. cool the burn with cool or lukewarm running water for 20 minutes – don't use ice, iced water, or any creams or greasy substances such as butter.</ion-text>
  
      <!-- fab placed to the bottom end -->
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-button>
          <!-- <ion-icon name="add" style="color:white;"></ion-icon> -->
          Ask a question
        </ion-button>
      </ion-fab>
  </ion-content>  

