<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Refugee Health
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <ion-title class="title">Sign in</ion-title>
  <ion-item>
    <ion-input placeholder="Username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password" type="Password"></ion-input>
  </ion-item>

  <ion-button round>Log In</ion-button> <br>  
  <a href="" class="link">Forgot Password</a><br>
  <a href="" class="link">Create Account</a>
</ion-content>
