<ion-content padding center text-center>
  <ion-img src="/assets/refugeehealth.png"></ion-img>
  <ion-title class="title">Sign in</ion-title>
  <ion-item>
    <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password" type="Password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button full round (click)="login()" href="/profile">Log In</ion-button> 
  <ion-button full round color="light" (click)="goRegister()" href="/signup1">Sign Up</ion-button> <br>
  <a href="" class="link">Forgot Password</a><br>
</ion-content>
